.logo{
    border: 1px solid white;
    border-radius: 100px;
    height: 50px; 
     width: 50px; 
    display: flex;
}
.nav{
    display: flex;
    height: 60px;
    border-bottom: 1px solid green;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
}
/* .hr{
    color: rgb(32, 18, 18); */

.links{
    display: flex;
    justify-content: space-between;
    margin: 10px;  
}
.cta{
    color: white;
    background-color: black;
}
.signup{
  background-color: blue;
  color: black;
}
.login{
    background-color: yellowgreen;
    color: black;
}
.parent{
    grid-template-columns: repeat(3,400px) ; 
    grid-template-rows: repeat(3,400px) ;
    /* gap: 10px; */
    height: 100%;
    width: 100%;
    display: grid;
    /* padding: 20px; */
    cursor: pointer;
    justify-content: center;
    gap: 0.5rem;
    /* align-content: center; */
}
.child img{
  width: 100%;
  height: 60%;
}
  .child{
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    /* transform: translate(3,2); */
}
 
.aa{
    color: green;
    /* align-content: center; */
    /* padding: auto; */
    /* position: relative; */
    margin-left: 20px;
}
.ss{
    color: gray;
    font-size: 20px;
    margin-left: 20px;
}

